<StackLayout *ngFor="let size of sizes">
    <CheckBox text="{{ size }}" checked="false" (tap)=filterGarmentsOnSize(size)></CheckBox>
</StackLayout>
<StackLayout class="border page-border">
  <StackLayout> <Label text="&#xA;"></Label></StackLayout>
  <StackLayout width="100%" *ngFor="let item of ( garments | garmentAttributeFilter : garmentFilter )">
      <CardView margin="2" elevation="10" radius="1">
         <GridLayout rows="*,*,*,*,*" columns="*">
            <ActivityIndicator row="0" [busy]="processing" width="100" height="100" class="activity-indicator"></ActivityIndicator>
            <Image [src]="item.image" [width]="previewSize" [height]="previewSize" stretch="aspectFit" row="0"
              (tap)="toGarmentDetail(item.id)"></Image>
             <Label class="gridItem boldText" text="{{ item.brand }}" textWrap="true" row="2" ></Label>
             <Label *ngIf="item.size" class="gridItem" text="{{ item.name }} ({{ item.size }})"
             textWrap="true" row="3"></Label>
             <Label *ngIf="item.pantWaist" class="gridItem" text="{{ item.name }} ({{ item.pantWaist }})"
             textWrap="true" row="3"></Label>
             <Label text="&#xA;" row="4"></Label>
         </GridLayout>
      </CardView>
  </StackLayout>
</StackLayout>
