/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 14;
    background-color: #003351;
    color: white;
    size: auto;
}

.boldText {
  font-weight:bold;
}

.action-bar {
  background-color: #353a3d;
  color: white;
}

.content {
  background-color: #edf3fc;
  color: black;
}

.page-section {
  background-color: #d0e5f2;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.label-section {
  margin-left: 10px;
  font-size: 20px;
}

.list-group-item {
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
  margin-right: 15px;
}

.dropdown {
  font-size: 20px;
}

.success {
  color: #078435;
  font-size: 20px;
}
