<ActionBar class="action-bar">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="navigateToHome()"></NavigationButton>
  <Label class="action-bar-title" text="Your profile"></Label>
</ActionBar>

<StackLayout orientation="vertical" class="page">
  <ScrollView>
    <StackLayout>

      <Button class="btn btn-outline btn-lg btn-active" text="Add Garment" (tap)="navigateToAddGarment()"></Button>

      <Label text="&#xA;"></Label>
      <Label class="h3 text-center" text="My garments"></Label>

      <app-garment-overview [(garmentsUrl)]="garmentsUrl"></app-garment-overview>

    </StackLayout>
  </ScrollView>
</StackLayout>
