<ActionBar class="action-bar">
  <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
    <Label class="action-bar-title" text="Home"></Label>
  </StackLayout>
  <ActionItem text="Menu" android.systemIcon="ic_menu_btn_add" (tap)="toggleDrawer()"></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" class="page">

  <RadSideDrawer tkExampleTitle tkToggleNavButton>

    <StackLayout tkDrawerContent class="sidedrawer-left">
        <StackLayout>
            <Label text="Inbox" class="sideLabel sideLightGrayLabel"  (tap)="navigateToInbox()"></Label>
            <Label text="Settings" class="sideLabel sideLightGrayLabel"></Label>
        </StackLayout>
    </StackLayout>

      <StackLayout tkMainContent>

        <app-add-garment-success *ngIf="success == 1"></app-add-garment-success>

        <StackLayout>
          <ScrollView>
            <StackLayout>

              <StackLayout orientation="horizontal">

                <Button class="btn btn-primary btn-lg btn-active" text="Start swapping" (tap)="navigateToAllGarments()"></Button>
                <Button class="btn btn-primary btn-lg btn-active" text="Add garment" (tap)="navigateToAddGarment()"></Button>

               </StackLayout>

            <Label text="&#xA;"></Label>
            <Label class="h3 text-center" text="My garments"></Label>


            <app-garment-overview [(garmentsUrl)]="garmentsUrl"></app-garment-overview>


            </StackLayout>
          </ScrollView>
        </StackLayout>
      </StackLayout>
  </RadSideDrawer>


</StackLayout>
