<ActionBar class="action-bar">
  <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
    <Label class="action-bar-title" text="Home"></Label>
  </StackLayout>
  <ActionItem text="Menu" android.systemIcon="ic_menu_btn_add" (tap)="toggleDrawer()"></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" class="page">
  <RadSideDrawer tkExampleTitle tkToggleNavButton drawerLocation="Top">

    <StackLayout tkDrawerContent class="sidedrawer-top">
        <StackLayout>
            <Label text="Open swap requests" class="sideLabel sideLightGrayLabel" (tap)="navigateToOpenSwapRequests()"></Label>
            <Label text="Swap history" class="sideLabel sideLightGrayLabel" (tap)="navigateToSwapHistory()"></Label>
            <Label text="Your profile" class="sideLabel sideLightGrayLabel" (tap)="navigateToUserProfile()"></Label>
        </StackLayout>
    </StackLayout>

    <StackLayout tkMainContent>
      <ScrollView>
        <StackLayout>

          <StackLayout orientation="horizontal">
            <Button class="btn btn-primary btn-active inner" text="My garments"
              (tap)="navigateToAllGarments()">
            </Button>
            <Button *ngIf="swapRequestCount != 0" class="btn btn-primary btn-active inner"
              text="Requests ({{swapRequestCount}} new)" (tap)="navigateToOpenSwapRequests()">
            </Button>
            <Button class="btn btn-primary btn-active inner" text="History"
              (tap)="navigateToAllGarments()">
            </Button>
          </StackLayout>

          <Label text="&#xA;"></Label>
          <Label class="h3 text-center" text="Available items"></Label>
          <app-garment-overview [(garmentsUrl)]="garmentsUrl"></app-garment-overview>

        </StackLayout>
      </ScrollView>
    </StackLayout>
  </RadSideDrawer>
</StackLayout>
