<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Introduction"></Label>
</ActionBar>

<StackLayout orientation="vertical" class="page">
  <ScrollView>
    <StackLayout>

      <Label class="h3 text-center" text="ProjectL is a platform for sharing clothes. Start by uploading your own garments. Next, browse through all garments and hit the Swap button if you are interested." textWrap="true"></Label>
      <Label text="&#xA;"></Label>
      
      <Button class="btn btn-outline btn-lg btn-active" text="Get started" (tap)="navigateToHome()"></Button>

    </StackLayout>
  </ScrollView>
</StackLayout>
