<ActionBar class="action-bar">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="navigateBack()"></NavigationButton>
  <Label class="action-bar-title" text="Garment detail"></Label>
</ActionBar>

<StackLayout class="page">

    <CardView class="body">
        <ActivityIndicator row="0" [busy]="processing" width="100" height="100" class="activity-indicator"></ActivityIndicator>
        <Image *ngIf="garment.image != undefined" [src]="garment.image" [width]="previewSize" [height]="previewSize" stretch="aspectFit" row="0"></Image>
        <Image *ngIf="garment.image == undefined" src="res://image_not_available" [width]="previewSize" [height]="previewSize" stretch="aspectFit" row="0"></Image>
        <Label class="text-center font-weight-bold" text="{{ garment.brand }}" textWrap="true" row="1" ></Label>
        <Label class="text-center" text="{{ garment.name }}" textWrap="true" row="2"></Label>
        <Label class="text-center" text="{{ garment.size }}" textWrap="true" row="3"></Label>
        <Label text="&#xA;" row="4"></Label>
    </CardView>

    <Button *ngIf="!garmentSwapId && userId != garment.userId" class="btn btn-primary btn-rounded-lg btn-active" text="I want to swap!"
        (tap)="toSwapRequest(garment.id)"></Button>
    <Button *ngIf="garmentSwapId" class="btn btn-primary btn-rounded-lg btn-active" text="Select this item"
      (tap)="toSwapReturnRequest(garment.id)"></Button>

    <StackLayout *ngIf="!garmentSwapId && userId == garment.userId">
      <Button class="btn btn-primary btn-rounded-lg btn-active" text="Edit item"
        (tap)="toEditGarment(garment)"></Button>
      <Button class="btn btn-cancel btn-rounded-lg btn-active" text="Delete item"
        (tap)="confirmDeleteGarment(garment.id)"></Button>
    </StackLayout>
</StackLayout>
