<ActionBar class="action-bar">
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="navigateBack()"></NavigationButton>
  <Label class="action-bar-title" text="Add garment"></Label>
</ActionBar>

<StackLayout class="page">

    <Button class="btn btn-primary btn-rounded-lg btn-active" text="I want to swap!" (tap)="toSwapRequest(garment.id)"></Button>
      <CardView class="body">
          <ActivityIndicator row="0" [busy]="processing" width="100" height="100" class="activity-indicator"></ActivityIndicator>
          <Image [src]="garment.image" [width]="previewSize" [height]="previewSize" stretch="aspectFit" row="0"></Image>
           <Label class="text-center font-weight-bold" [text]="garment.brand" textWrap="true" row="1" ></Label>
           <Label class="text-center" [text]="garment.name" textWrap="true" row="2"></Label>
           <Label text="&#xA;" row="3"></Label>
      </CardView>

</StackLayout>
