  <ActionBar class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="navigateBack()"></NavigationButton>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
      <Label class="action-bar-title" text="Inbox"></Label>
    </StackLayout>
    <ActionItem text="Menu" android.systemIcon="ic_menu_btn_add" (tap)="toggleDrawer()"></ActionItem>
  </ActionBar>

  <StackLayout class="page">
      <RadSideDrawer tkExampleTitle tkToggleNavButton>

        <StackLayout tkDrawerContent class="sidedrawer-left">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Navigation Menu" class="sideLabel sideLightGrayLabel"></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
                <Label text="Inbox" class="sideLabel"></Label>
                <Label text="Send swap requests" class="sideLabel"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout tkMainContent>
            <Label class="h2 text-center" text="Your messages"></Label>
            <ListView [items]="requests" (itemTap)="openMessage($event)" class="list-group" separatorColor="white">
            <ng-template let-request="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                <StackLayout class="list-group-item">
                  <StackLayout class="hr-light m-10"></StackLayout>
                    <Label [class]="request.received ? 'underline' : 'boldText underline'" text="New swap request" ></Label>
                    <Label [class]="request.received ? 'none' : 'boldText'" [text]="request.message"></Label>
                </StackLayout>
            </ng-template>
            </ListView>
        </StackLayout>

      </RadSideDrawer>

  </StackLayout>
